* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cursor {
    width: 130px;
    height: 130px;
    /* border: 2px solid rgb(17, 202, 235); */
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    /* box-shadow: 0px 0px 24px rgb(17, 202, 235); */
    background-image: radial-gradient(rgba(24, 215, 250, .6), transparent, transparent)
}

.sidemenu {
    visibility: hidden;
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 30px 25px;
    height: 13vh;
    background-color: #000;
    color: #fff;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 35%; */
    font-weight: bolder;
    font-size: larger;

}

.header_cta_btn {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 30px;
}
.header_cta{
    /* background-color: red; */
    display: flex;
    width: auto;
}
.header_cta a{
    text-decoration: none;
}

.header_nav {
    z-index: 1;
    width: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.header_nav_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.header_nav_content span {
    margin: 0 20px;
    width: 30%;
    cursor: pointer;
    position: relative;
    /* background-color: blue; */
    padding: 5px 15px;
    color: #000;
}

.header_nav_active::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom:0px;
    width: 100%;
    height: 2px;
    background-color: #18d7fa;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    /* transform: translate(-50%,-50%); */
    top: auto;
    left: auto;

}

.header_hamburger {
    visibility: hidden;
    display: none;


}

.header_ham {
    position: relative;
    width: 40px;
    height: 2px;
    background-color: #fff;
}

.header_ham::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:white;
}

.container {
    width: 100%;
    height: 87vh;
    background-color:black;
    color: #fff;
    display: flex;
    background-image: linear-gradient(to right bottom, #000, rgba(0, 0, 0, .95), rgba(0, 0, 0, .9), rgba(24, 215, 240, .2)), url(/assets/sky.1f385ab8.jpg);
    animation: services_backgroundAnimation 3s infinite;
}


.services_left {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex: 0.5;
    background-color:transparent;
    
}

.services_right {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-color:transparent;
    flex: 0.5;
}

.services_left_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Services_right_content {
    margin-bottom: 20px;
}

.Services_right_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.Services_right_content p {
    font-size: 10.8px;
}

.Services_right_content h3 {
    font-size: 27px;
}

.Services_services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 auto 30px;
    text-align: center;
    /* background: green; */

}

.Services_services :hover{
    box-shadow: 5px 5px 8px deepskyblue;
}

.Services_ctas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Services_cta{
    padding: 9px 31.5px;
    width: 48%;
    font-size: 14px;
    z-index: 0;
    padding: 10px 35px;
    background-color: #fff;
    color: #000;
    width: 60%;
    cursor: pointer;
    font-weight: 700;
    transition: all .2s;
    margin-top: 5px;
}

.Services_service {
    z-index: 1;
    padding: 20px 10px;
    width: 80%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all .2s;
}

.Services_left_content {
    display: none;
}

.services_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: radial-gradient(#18d7fa, #18d7fa, #000, #000); */
}

.services_right::after {
    content: '';
    position: absolute;
    background-image: radial-gradient(whitesmoke, whitesmoke, transparent, transparent);
    width: 800px;
    height: 800px;
    z-index: -5;
    animation: smoke 3s linear infinite;

}
.services_right::before {
    content: '';
    position: absolute;
    background-image: radial-gradient(orange, orange, transparent, transparent);
    width: 400px;
    height: 400px;
    z-index: -1;
    background-color: transparent;
    animation: smoke 3s 2s linear infinite;


}


@media only screen and (max-width:800px) {
    .sidemenu {
        z-index: 103;
        visibility: hidden;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #18d7fa;
        display: flex;
        justify-content: center;
        align-items: center;
        /* animation: appear 1s 1 forwards; */
        animation: fadeInAnimation ease-in-out 5s !important;
        animation-fill-mode: forwards;
    }

    /* .sidemenubar_active {
        z-index: 103;
        visibility: visible;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #18d7fa;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeInAnimation ease-in-out 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;    } */

    .sidemenu_close {
        position: absolute;
        top: 3vh;
        right: 5vw;
        font-size: 50px;
    }

    .sidemenu_nav div {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        padding: 15px 25px;
        font-weight: 700;
    }
    .sidemenu_nav div:hover{
        transform: scaleX(1.4);
        transition: 0.5s;
    }

    .sidemenu_active {
        background-color: #fff;
        border-bottom: 1px solid black;
    }

    .container {
        flex-direction: column;
        display: flex;
        width: 100%;
        height: 87vh;
    }

    .services_left {
        height: auto;
        text-align: center;
        display: flex;
        flex: 0.5;
    }

    .services_left {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services_right {
        width: 100%;
        height: auto;
        /* margin-bottom: 5vh; */
    }

    .services_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-image: radial-gradient(#18d7fa, #18d7fa, #000, #000); */
    }

    .services_right::after {
        content: '';
        position: absolute;
        background-image: radial-gradient(whitesmoke, whitesmoke, transparent, transparent);
        width: 400px;
        height: 400px;
        z-index: -5;
        animation: smoke 3s linear infinite;

    }
    .services_right::before {
        content: '';
        position: absolute;
        background-image: radial-gradient(orange, orange, transparent, transparent);
        width: 200px;
        height: 200px;
        z-index: -1;
        background-color: transparent;
        animation: smoke 3s 2s linear infinite;


    }

    .header_nav_content {
        font-size: 14px;
        text-align: center;
        visibility: hidden;
        display: none;
    }

    .header_hamburger {
        visibility: visible;
        display: block;
        transition: all .3s;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_cta_btn {
        padding: 8px 25px;
        font-size: 14px;
        display: none;
    }

    .header_ham {
        position: relative;
        width: 40px;
        height: 2px;
        background-color: #fff;
    }

    .header_ham::before {
        content: "";
        position: absolute;
        top: -10px;
        width: 40px;
        height: 2px;
        background-color: #fff;
    }

    .header_ham::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 40px;
        height: 2px;
        background-color: #fff;
    }

    .services_left {
        /* width: 50%; */
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .services_right {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        /* width: 50%; */
        /* background-color: #18d7fa; */
    }

    .services_left_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .Services_right_content {
        margin-bottom: 10px;
    }

    .Services_right_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    }

    .Services_right_content p {
        font-size: 6.8px;
    }

    .Services_right_content h3 {
        font-size: 17px;
    }

    .Services_services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
        margin: 0 auto 5px;
        text-align: center;
        /* background: green; */

    }

    .Services_ctas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Services_service {
        z-index: 1;
        padding: 10px 5px;
        width: 80%;
        border: 1px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        transition: all .2s;
        font-size: 12px;
    }

    .services_right_content img {
        width: 300px;
        height: 300px;
    }

}


@media only screen and (max-width: 500px) {

    .sidemenu_close {
        font-size: 30px;
    }

    .sidemenu_nav {
        font-size: 18px;
    }

    .header_ham {
        position: relative;
        width: 20px;
        height: 2px;
        background-color: #fff;
    }

    .header_ham::before {
        content: "";
        /* position: absolute; */
        /* top: -10px; */
        width: 20px;
        height: 2px;
        background-color: #fff;
    }

    .header_ham::after {
        content: "";
        /* position: absolute; */
        /* top: 10px; */
        width: 20px;
        height: 2px;
        background-color: #fff;
    }

    .services_right_content img {
        height: 200px;
        width: auto;
        animation: services_earth__h8U5E 3s 1 forwards;
    }

    .services_left {
        height: 60%;
        /* background-color: blue; */
        display: flex;
        flex: 0.6;
        justify-content: flex-start;
        align-items: center;
        /* text-align: center; */
    }
    .services_right{
        display: flex;
        flex: 0.4;
        /* height: 40%; */
    }

    .Services_right_content {
        margin-bottom: 10px;
    }

    .Services_right_container {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        /* background-color: teal; */
        margin-top: 10px;
    }

    .Services_right_content p {
        font-size: 6.8px;
        display: none;
    }

    .Services_right_content h3 {
        font-size: 17px;
        display: none;
    }

    .Services_services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
        margin: 0 auto 5px;
        text-align: center;
        /* background: green; */

    }
    .Services_services :hover{
        box-shadow: 5px 5px 8px deepskyblue;
    }

    .Services_ctas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Services_service {
        z-index: 1;
        padding: 10px 5px;
        width: 80%;
        border: 1px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        transition: all .2s;
        font-size: 12px;
    }
    .Services_services :hover{
        box-shadow: 5px 5px 8px deepskyblue;
    }

    .Services_cta_para {
        font-size: 10px;
    }

    .Services_left_content {
        display: block;
        /* background-color: #18d7fa; */
        margin:auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;

    }
    .Services_left_content h3{
        font-size: 27px;

    }
    .Services_left_content p{
        font-size: 10px;

    }
    .Services_cta{
        padding: 9px 31.5px;
        width: 70%;
        font-size: 11.2px;
    }
    .Services_cta :hover{
        box-shadow: 3px 3px 9px skyblue;

    }

    .services_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-image: radial-gradient(#18d7fa, #18d7fa, #000, #000); */
    }

    .services_right::after {
        content: '';
        position: absolute;
        background-image: radial-gradient(whitesmoke, whitesmoke, transparent, transparent);
        width: 400px;
        height: 400px;
        z-index: -5;
        animation: smoke 3s linear infinite;
        margin-top: 15px;

    }
    .services_right::before {
        content: '';
        position: absolute;
        background-image: radial-gradient(orange, orange, transparent, transparent);
        width: 300px;
        height: 300px;
        z-index: -1;
        background-color: transparent;
        animation: smoke 3s 2s linear infinite;
        margin-top: 25px;


    }




}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {

        transform: rotate(360deg);
    }
}

@keyframes Hero_changeColor {
    0% {
        filter: grayscale(1);
    }

    15% {
        filter: grayscale(1);
    }

    50% {
        filter: grayscale(0);
    }

    85% {
        filter: grayscale(1);
    }

    100% {
        filter: grayscale(1);
    }
}

@keyframes Hero_animate {
    0% {
        background-size: 90vh 90vh;
        background-position: 3vw;
    }

    15% {
        background-size: 90vh 90vh;
        background-position: 3vw;
    }

    45% {
        background-size: 70vh 70vh;
        background-position: 58vw;
    }

    55% {
        background-size: 70vh 70vh;
        background-position: 58vw;
    }

    85% {
        background-size: 90vh 90vh;
        background-position: 3vw;
    }

    100% {
        background-size: 90vh 90vh;
        background-position: 3vw;
    }
}

@keyframes Hero_animatephone {
    0% {
        background-size: 50vw 50vw;
        background-position: 25vw 11vh;
    }

    15% {
        background-size: 50vw 50vw;
        background-position: 25vw 11vh;
    }

    45% {
        background-size: 70vw 70vw;
        background-position: 15vw 30vh;
    }

    55% {
        background-size: 70vw 70vw;
        background-position: 15vw 30vh;
    }

    85% {
        background-size: 50vw 50vw;
        background-position: 25vw 11vh;
    }

    100% {
        background-size: 50vw 50vw;
        background-position: 25vw 11vh;
    }

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        height: 0%;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}

@keyframes services_backgroundAnimation {
    0% {
        background-size: 100vw 100vh;
    }

    50% {
        background-size: 107vw 107vh;
        background-position: -7vw -7vh;
    }

    100% {
        background-size: 100vw 100vh;
    }
}

@keyframes smoke {

    0%,
    100% {
        opacity: 0;
        filter: blur(50px);
        filter: saturate(0px);
        transform: scale(0px);

    }

    80% {
        opacity: 0.7;
        filter: blur(10px);
        filter: saturate(30px);
        transform: scale(10%);



    }

}